@using TrelloClone.Services;

<body style="background-image: linear-gradient(70deg, #7c52d1, #e060ad); " onload="init();">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>

    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js"></script>

    @{
        ViewData["Title"] = "Dashboard";

        var list = MyAppContext.getCardList();
        list.Sort((x, y) => x.position.CompareTo(y.position));
    }


    <div style=" display: flex; justify-content: space-between;" id="dragparentparent">
        <div style="background-color: #d1d1d1; width: 24%; padding: 10px; border-radius: 10px; height: fit-content; ">
            <h3 style="padding: 5px; font-size: 20px; color: #3d3d3d;">
                Pending
            </h3>
            <div id="dragparent0" style="min-height:50px;">
                @foreach (Card card in list.FindAll(e => e.status == 0))
                {
                    <partial name="_Card.cshtml" model="card" />
                }
            </div>
            <div style="padding: 5px">
                <input onclick="prepareNewForm(0);" type="button" name="newCardBtn" value="+ Add new card" style="background: transparent; border-style: none;" />
            </div>
        </div>

        <div style="background-color: #d1d1d1; width: 24%; padding: 10px; border-radius: 10px; height: fit-content; ">
            <h3 style="padding: 5px; font-size: 20px; color: #3d3d3d;">
                In progress
            </h3>
            <div id="dragparent1" style="min-height:50px;">
                @foreach (Card card in list.FindAll(e => e.status == 1))
                {
                    <partial name="_Card.cshtml" model="card" />
                }
            </div>
            <div style="padding: 5px">
                <input onclick="prepareNewForm(1);" type="button" name="newCardBtn" value="+ Add new card" style="background: transparent; border-style: none;" />
            </div>
        </div>
        <div style="background-color: #d1d1d1; width: 24%; padding: 10px; border-radius: 10px; height: fit-content; ">
            <h3 style="padding: 5px; font-size: 20px; color: #3d3d3d;">
                Blocked
            </h3>
            <div id="dragparent2" style="min-height:50px;">
                @foreach (Card card in list.FindAll(e => e.status == 2))
                {
                    <partial name="_Card.cshtml" model="card" />
                }
            </div>
            <div style="padding: 5px">
                <input onclick="prepareNewForm(2);" type="button" name="newCardBtn" value="+ Add new card" style="background: transparent; border-style: none;" />
            </div>
        </div>
        <div style="background-color: #d1d1d1; width: 24%; padding: 10px; border-radius: 10px; height: fit-content; ">

            <h3 style="padding: 5px; font-size: 20px; color: #3d3d3d;">
                Done
            </h3>
            <div id="dragparent3" style="min-height:50px;">
                @foreach (Card card in list.FindAll(e => e.status == 3))
                {
                    <partial name="_Card.cshtml" model="card" />
                }
            </div>
            <div style="padding: 5px">
                <input onclick="prepareNewForm(3);" type="button" name="newCardBtn" value="+ Add new card" style="background: transparent; border-style: none;" />
            </div>
        </div>

    </div>



    <script>
        $(document).ready(function () {
            $.ajax({
                type: "Get",
                url: "../API/User/all",
                success: function (data) {
                    JSON.parse(JSON.parse(data)).forEach(
                        row =>
                            $('#cardDetailAsigneeId').append(`<option value="${row.id}">
                                                                   ${row.email}
                                                              </option>`)
                    )
                },
                contentType: "application/json; charset=utf-8",
                datatype: 'json'
            });


        });

        function init() {
            dragula([
                document.querySelector("#dragparent0"),
                document.querySelector("#dragparent1"),
                document.querySelector("#dragparent2"),
                document.querySelector("#dragparent3")])
                .on('drop', function (el, target, source, sibling) {
                    var cardID = el.getAttribute('data-id').split("'")[1];
                    console.log(cardID);
                    $.get("../API/Card/" + cardID, function (data) {
                        var CardData = JSON.parse(data);

                        $.ajax({
                            type: "PUT",
                            url: "../API/Card/" + CardData.id,
                            data: JSON.stringify({
                                id: CardData.id,
                                title: CardData.title,
                                description: CardData.description,
                                status: parseInt(target.getAttribute('id').split("dragparent")[1]),
                                position: CardData.position,
                                asigneeId: CardData.asigneeId
                            }),
                            contentType: "application/json; charset=utf-8",
                            datatype: 'json'
                            });
                    });
                });
        }
    </script>








    <!--DETAILS -->
    <div id="cardDetailsForm" style="position: absolute; background-color: rgba(0,0,0,0.5); width: 100%; height: 100%; top: 0; left: 0; display: none; justify-content: center;">
        <div style="background-color: white; width: fit-content; height: fit-content; border-radius: 10px; padding: 50px; margin-top: 100px; display: flex; align-content: center; justify-content: center; ">
            <form>
                <input type="hidden" name="id" id="cardDetailID" value="" />
                <div style="font-size: 20px; margin-bottom: 20px">
                    Details
                </div>
                <div style="margin-bottom: 20px">
                    <div>Title</div>
                    <input type="text" name="title" id="cardDetailTitle" value="" style="width: 100%;" />
                </div>
                <div style="margin-bottom: 20px">
                    <div>Description</div>
                    <input type="text" name="description" id="cardDetailDescription" value="" style="width: 100%;" />
                </div>
                <div style="margin-bottom: 20px; width: 100%;">
                    <div>Status</div>
                    <select name="status" id="cardDetailStatus">
                        <option value="0">Pending</option>
                        <option value="1">In Progress</option>
                        <option value="2">Blocked</option>
                        <option value="3">Done</option>
                    </select>
                </div>
                <div style="margin-bottom: 20px">
                    <div>Position</div>
                    <input type="number" name="position" id="cardDetailPosition" value="" style="width: 100%;" />
                </div>
                <div style="margin-bottom: 20px">
                    <div>Assigee Id</div>
                    <select name="asigneeid" id="cardDetailAsigneeId" style="width: 100%;">
                    </select>
                </div>
                <div style="padding-top: 25px; justify-content: center; align-items: center; display: flex;">
                    <input type="button" name="" onclick="submitDetailForm();" value="Submit" style="width: 100%; padding: 5px; margin: 5px" />
                    <input type="button" name="" onclick="hideDetailForm();" value="Cancel" style="width: 100%; padding: 5px; margin: 5px" />
                    <input type="button" name="" onclick="deleteDetail();" value="DELETE" style="width: 100%; padding: 5px; margin: 5px; background-color:red;" />
                </div>
            </form>
        </div>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "Get",
                    url: "../API/User/all",
                    success: function (data) {
                        JSON.parse(JSON.parse(data)).forEach(
                            row =>
                                $('#asigneeid').append(`<option value="${row.id}">
                                                                                        ${row.email}
                                                                                    </option>`)
                        )
                    },
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json'
                });
            });
        </script>
    </div>
    <script>
        function prepareDetailForm(cardID) {
            $.get("../API/Card/" + cardID, function (data) {
                var CardData = JSON.parse(data);

                document.getElementById("cardDetailID").value = CardData.id;
                document.getElementById("cardDetailTitle").value = CardData.title;
                document.getElementById("cardDetailDescription").value = CardData.description;
                document.getElementById("cardDetailStatus").value = CardData.status;
                document.getElementById("cardDetailPosition").value = CardData.position;
                document.getElementById("cardDetailAsigneeId").value = CardData.asigneeId;

                document.getElementById("newCardForm").style.display = "none";
                document.getElementById("cardDetailsForm").style.display = "flex";
            });
        }
        function hideDetailForm() {
            document.getElementById("cardDetailsForm").style.display = "none";
        }

        function submitDetailForm() {
            $.ajax({
                type: "PUT",
                url: "../API/Card/" + document.getElementById("cardDetailID").value,
                data: JSON.stringify({
                    id: document.getElementById("cardDetailID").value,
                    title: document.getElementById("cardDetailTitle").value,
                    description: document.getElementById("cardDetailDescription").value,
                    status: parseInt(document.getElementById("cardDetailStatus").value),
                    position: document.getElementById("cardDetailPosition").value,
                    asigneeId: document.getElementById("cardDetailAsigneeId").value
                }),
                contentType: "application/json; charset=utf-8",
                datatype: 'json'
            });

            hideDetailForm();
            location.reload();
        }

        function deleteDetail() {
            $.ajax({
                type: "DELETE",
                url: "../API/Card/" + document.getElementById("cardDetailID").value,
                success: function (data) {
                    location.reload();
                },
                contentType: "application/json; charset=utf-8",
                datatype: 'json'
            });
        }
    </script>


    <!--NEW FORM-->
    <div id="newCardForm" style="position: absolute; background-color: rgba(0,0,0,0.5); width: 100%; height: 100%; top: 0; left: 0; display: none; justify-content: center;">
        <div style="background-color: white; width: fit-content; height: fit-content; border-radius: 10px; padding: 50px; margin-top: 100px; display: flex; align-content: center; justify-content: center; ">
            <form>
                <div style="font-size: 20px; margin-bottom: 20px">
                    Add new card
                </div>
                <div style="margin-bottom: 20px">
                    <div>Title</div>
                    <input type="text" id="cardNewTitle" name="title" value="" />
                </div>
                <div style="margin-bottom: 20px">
                    <div>Description</div>
                    <input type="text" id="cardNewDescription" name="description" value="" />
                </div>
                <div style="margin-bottom: 20px">
                    <div>Status</div>
                    <select id="cardNewStatus" name="status">
                        <option value="0">Pending</option>
                        <option value="1">In Progress</option>
                        <option value="2">Blocked</option>
                        <option value="3">Done</option>
                    </select>
                </div>

                <div style="padding-top: 25px; justify-content: center; align-items: center; display: flex;">
                    <input type="button" name="" onclick="submitNewForm();" value="Submit" style="width: 100%; padding: 5px; margin: 5px" />
                    <input type="button" name="" onclick="hideNewForm();" value="Cancel" style="width: 100%; padding: 5px; margin: 5px" />
                </div>
            </form>
        </div>
    </div>
    <script>
        function prepareNewForm(status) {
            selectedStatus = status;
            document.getElementById("cardNewTitle").value = "";
            document.getElementById("cardNewDescription").value = "";
            document.getElementById("cardNewStatus").value = status;
            document.getElementById("newCardForm").style.display = "flex";
            document.getElementById("cardDetailsForm").style.display = "none";
        }

        function hideNewForm() {
            document.getElementById("newCardForm").style.display = "none";
        }

        function submitNewForm() {
            var selStatus = document.getElementById("cardNewStatus").value;
            $.ajax({
                type: "POST",
                url: "../API/Card",
                data: JSON.stringify({
                    title: document.getElementById("cardNewTitle").value,
                    description: document.getElementById("cardNewDescription").value,
                    status: document.getElementById("cardNewStatus").value
                }),
                success: function (datae) {
                    var newCard = JSON.parse(datae);
                    $.ajax({
                        type: "PUT",
                        url: "../API/Card/" + newCard.id,
                        data: JSON.stringify({
                            id: newCard.id,
                            title: newCard.title,
                            description: newCard.description,
                            position: newCard.position,
                            status: parseInt(selStatus),
                            asigneeId: newCard.asigneeId
                        }),
                        success: function (data) {
                            location.reload();
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: 'json'
                    });


                },
                contentType: "application/json; charset=utf-8",
                datatype: 'json'
            });

            hideNewForm();



        }


    </script>




</body>